[Unit]
Description=Run JobBots daily Google report

[Timer]
OnBootSec=15min
OnUnitActiveSec=24h
Persistent=true
Unit=jobbots-report.service

[Install]
WantedBy=timers.target

