[Unit]
Description=Periodically sync jobbots artifacts to S3

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
